body{
    background: rgb(0,0,0);
    /* background: linear-gradient(0deg, rgba(0,0,0,0.5228685224089635) 0%, rgba(17,17,17,1) 0%, rgba(38,13,13,1) 99%, rgba(85,28,28,1) 100%); */
    /* animation: 3s ease-out 0s 1 fadedOpacity; */
    background: linear-gradient(0deg, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 40%, rgba(115,110,110,1) 100%);
      

}

.container {
    max-width: 100%;
    margin: 0, auto;
  }

hr{
display: block;
border:1px solid grey;
}

/* i:hover{
    cursor: pointer;
} */

h6{
    position: relative;
    display:block;
    overflow:hidden;
    font-size:13px;
    color:rgb(189, 182, 182);
}

.bgHover:hover {
    background-color:grey;
    cursor: pointer;
   
}
.serchBar:hover{
    background-color:grey;
    cursor: pointer;

}

button{
    width:30px;
    height:28px;
    border:1px solid transparent;
    border-radius:50%;
    background-color:rgb(75, 30, 55);
    margin-top:10px;
    margin-left:10px;
    font-size:15px;
    font-weight: 300;
    color:#fff;
    text-align:center;
    padding-top:0px
}

button:hover{
    background-color:black;
}
@media (max-width:500px) {
    .exampleImg >h5{
        font-size:10px;
    }
}
.exampleImg{
    padding-left:-20px;
}
.exampleImg > img{
    position: relative;
    margin-top: 50px;
    left:0%;
    width: 160px;
    height:156px;
    object-fit: contain;
    box-shadow:0px 0px 20px transparent;
    border-radius:7px;
}

.albumArt{
    position:absolute;
    bottom:20%;
    margin-left: 25px;;
    width:20px;
    height:20px;
    border-radius:50%;
}

.artName{
    position:absolute;
    bottom:18%;
    margin-left:53px;;
  
}


.exampleImg h5{
    position:absolute;
    display:block;
    top:54%;
    font-weight:800;
    font-size:12px;
    padding-left:3%;
}

.exampleImg p{
    position:absolute;
    display:block;
    top:58%;
    font-weight:800;
    font-size:25px;
    padding-left:3%;
}


footer {
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    margin-top: 50px;
    background-color: rgb(66, 60, 72);
    padding-top: 5px;
    position: fixed;
  }
  footer .first-div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
  }
  .second-div .second-of-second {
    display: flex;
    text-align: center;
    margin-top: 8px;
    gap: 12px;
    min-width: 380px;
    position: relative;
    right: 88px;
  }
  footer span {
    font-size: 11pt;
  }
  .third-div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 15px;
  }
  .second-div .first-of-second {
    display: flex;
    gap: 25px;
    margin-top: 5px;
  }
  .second-div .second-of-second hr {
    position: relative;
    bottom: 5px;
  }

  #id-album-played {
    margin: 0;
   
  }
  
  .search-btn {
    color: white;
    background-color: inherit;
    border: none;
  }